<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<% if @user %>
  Logged in as: <%= @user.FirstName %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Announcementid</th>
      <th>Text</th>
      <th>Uin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.AnnouncementID %></td>
        <td><%= announcement.Text %></td>
        <td><%= announcement.UIN %></td>
        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path %>
