<p id="notice"><%= notice %></p>

<p>
  <strong>Linkid:</strong>
  <%= @merch_link.LinkID %>
</p>

<p>
  <strong>Linkdescription:</strong>
  <%= @merch_link.LinkDescription %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @merch_link.UIN %>
</p>

<%= link_to 'Edit', edit_merch_link_path(@merch_link) %> |
<%= link_to 'Back', merch_links_path %>
