
<nav class="navbar navbar-expand-md navbar-dark navbarStyles">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" >
    <ul class="navbar-nav mr-auto" style="width:87%; justify-content:right;">
      <li class="nav-item">
        <%= link_to root_path do %>
          <%= image_tag "kslogo.png", class: 'signuplogin-nav-img' %>
        <% end %>
      </li>

      <li class="nav-item">
      </li>

  </div>
</nav>

<h2 class = "signup" >Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card shadow p-3 bg-white rounded " style=" margin:20px 43vh; margin-bottom:10px">
  <div class="card-body">
  

  <div class="field">
    <%= f.label :email, { class: "form-label"} %><br />
    <%= f.email_field :email, { class: "form-control", placeholder: "student@tamu.edu", autofocus: true, autocomplete: "email" } %>
  </div>

  
  <div style="display:flex">
  <div class="field width50">
    <%= f.label :firstname, 'First Name', { class: "form-label"}  %><br />
    <%= f.text_field :firstname,  { class: "form-control", placeholder: "John", autofocus: true, autocomplete: "firstname" }  %>
  </div>

  <div class="field width50">
    <%= f.label :lastname, 'Last Name', { class: "form-label"}  %><br />
    <%= f.text_field :lastname, { class: "form-control", placeholder: "Doe", autofocus: true, autocomplete: "lastname" }%>
  </div>
  </div>



  <div class="field">
    <%= f.label :uin, 'UIN', { class: "form-label"}  %><br />
    <%= f.text_field :uin,{ class: "form-control", placeholder: "123456789", autofocus: true, autocomplete: "uin" } %>
  </div>



  <div style="display:flex">

  <div class="field width50">
    <%= f.label :username, 'Username', { class: "form-label"}  %><br />
    <%= f.text_field :username, { class: "form-control", placeholder: "john_doe", autofocus: true, autocomplete: "username" }%>
  </div>

  <div class="field width50">
    <%= f.label :phonenumber, 'Phone Number', { class: "form-label"}  %><br />
    <%= f.text_field :phonenumber, { class: "form-control", placeholder: "4445556666", autofocus: true, autocomplete: "phonenumber" }%>
  </div>
  </div>

  <div style="display:flex">

  <div class="field width50">
    <%= f.label :major, 'Major', { class: "form-label"}  %><br />
    <%= f.text_field :major,{ class: "form-control", placeholder: "Major", autofocus: true, autocomplete: "major" }%>
  </div>

  <div class="field width50">
    <%= f.label :pledgeclass, 'Pledge Class', { class: "form-label"}  %><br />
    <%= f.text_field :pledgeclass, { class: "form-control", placeholder: "Pledge Class", autofocus: true, autocomplete: "pledgeclass" } %>
  </div>
    </div>




  <div class="field">
    <%= f.label :password, { class: "form-label"}  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,{ class: "form-control", autocomplete: "new-password"} %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,'Confirm Password', { class: "form-label"}  %><br />
    <%= f.password_field :password_confirmation, { class: "form-control", autocomplete: "new-password"}%>
  </div>


      <div style="margin-top:25px; width: -5px;">
        <div style="display:flex; justify-content: center;">
          <div > 
            <%= f.submit "Sign Up", class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>

      </div>
</div>
<%end%>