<%= form_with(model: merch) do |form| %>
    <% if merch.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(merch.errors.count, "error") %> prohibited this merch from being saved:</h2>
  
        <ul>
          <% merch.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


<%# background-color:#E7D1B5; %>
  <div class="card" style="border-color:#913031; margin:20vh; margin-top:50px;">
  <div class="card-body">
  
      <div class="field mb-3">
        <%= form.label :name, { class: "form-label"} %>
        <%= form.text_field :name, { class: "form-control", placeholder: "Name" }  %>
      </div>
    
      <div class="field mb-3">
        <%= form.label :price, { class: "form-label"} %>
        <%= form.number_field :price, { class: "form-control", placeholder: "Price" }  %>
      </div>

      <div class="field mb-3">
        <%= form.label :link, { class: "form-label"} %>
        <%= form.text_area :link, { class: "form-control", placeholder: "Link" }  %>
      </div>
    
      <div class="actions">
        <div style="display:flex;">
          <div style="width:33%; margin-left: 0vw"> 
                                <%= link_to 'Back', merches_path, class: "btn btn-outline-secondary newMerchandise"  %>
          </div>
          <div style="width:33%; justify-content:center; display:flex"> 
            <%= form.submit "Submit", class: "btn btn-outline-secondary newMerchandise"  %>
          </div>
          <div style="width:33%"> </div>


        </div>

      </div>

    </div>
</div>
  <% end %>
  