<p id="notice"><%= notice %></p>

<head>
<%= stylesheet_link_tag "style.css" %>
  <style>
    table {
      width: 80%;
      margin: auto;
    }

    th {
      border: 1px solid #ddd;
      padding: 8px;
      background-color: #8B0000;
      color: white;
      width: 30%;
      text-align: center;
    }

    td {
      border: 1px solid #ddd;
      padding: 8px;
      background-color: #DCDCDC;
      width: 70%;
      text-align: center;
    }

    body {
      background-color: #D2B48C;
    }
  </style>
</head>

<h1 class = "profile_h" style="margin-top:40px">My Profile</h1>

<table>
  <tbody>
    <tr>
        <th colspan="3">First Name</th>
        <td><%= @user.firstname %></td>
    </tr>
    <tr>
        <th colspan="3">Last Name</th>
        <td><%= @user.lastname %></td>
    </tr>
    <tr>
        <th colspan="3">UIN</th>
        <td><%= @user.uin %></td>
    </tr>
    <tr>
        <th colspan="3">Email</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th colspan="3">Phone Number</th>
        <td><%= @user.phonenumber %></td>
    <tr>
        <th colspan="3">Major</th>
        <td><%= @user.major %></td>
    </tr>
    <tr>
        <th colspan="3">Pledge Class</th>
        <td><%= @user.pledgeclass %></td>
    </tr>
    <tr>
        <th colspan="3">Username</th>
        <td><%= @user.username %></td>
    </tr>
  </tbody>
</table>

<div style="text-align:center; padding-top:20px; width:100%">
  <div class="btn btn-outline-secondary" style="align-items: center">
      <%= link_to 'Edit', edit_user_registration_path(@user), :class => "btn newMerchandise"  %>
  </div>
</div>

<br>