<p id="notice"><%= notice %></p>

<p>
  <strong>Uin:</strong>
  <%= @user.UIN %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.LastName %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @user.PhoneNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @user.isAdmin %>
</p>

<p>
  <strong>Pledgeclass:</strong>
  <%= @user.PledgeClass %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.Major %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
