<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :EventID %>
    <%= form.text_field :EventID %>
  </div>

  <div class="field">
    <%= form.label :UIN %>
    <%= form.text_field :UIN %>
  </div>

  <div class="field">
    <%= form.label :AnnouncementID %>
    <%= form.text_field :AnnouncementID %>
  </div>

  <div class="field">
    <%= form.label :EventDate %>
    <%= form.datetime_select :EventDate %>
  </div>

  <div class="field">
    <%= form.label :EventLocation %>
    <%= form.text_field :EventLocation %>
  </div>

  <div class="field">
    <%= form.label :EventTitle %>
    <%= form.text_field :EventTitle %>
  </div>

  <div class="field">
    <%= form.label :EventOrganizer %>
    <%= form.text_field :EventOrganizer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
