<head><%= stylesheet_link_tag "style.css" %></head>

<nav class="navbar navbar-expand-md navbar-dark navbarStyles">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" >
    <ul class="navbar-nav mr-auto" style="width:87%; justify-content:right;">
      <li class="nav-item">
        <%= link_to root_path do %>
          <%= image_tag "kslogo.png", class: 'login-nav-img' %>
        <% end %>
      </li>

      <li class="nav-item">
      </li>

  </div>
</nav>

<h2 class = "signup">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <div class="card shadow p-3 bg-white rounded " style=" margin:20px 43vh; margin-top:50px">
    <div class="card-body">

            <div class="field">
              <%= f.label :email, 'Email', { class: "form-label"}%><br />
              <%= f.email_field :email, { class: "form-control", placeholder: "student@tamu.edu", autofocus: true, autocomplete: "student@tamu.edu" }  %>
            </div>

            <div class="field">
              <%= f.label :password, { class: "form-label"}%><br />
              <%= f.password_field :password, { class: "form-control",placeholder: "123456", autocomplete: "123456"}%>
            </div>
            <%= link_to "Forgot your password?", new_password_path(resource_name), style:"margin-left:3px"%>

            <% if devise_mapping.rememberable? %>
              <div class="field" style="margin-top: 7px">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div> 
              <%= f.submit "Log in", class:"btn btn-outline-secondary", style:"margin-right: 55px; margin-left: 24%;"%>  
              <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-outline-secondary", style:"margin-right: 65px"%>
              
              <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= form_for "Login", url: omniauth_authorize_path(resource_name, provider), method: :post, data: {turbo: "false"} do |f| %>
                    <%= f.submit "Login", type: "image", src: url_for("/assets/btn_google_signin_dark_pressed_web.png"), style:"position:relative; top:17px" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <% end %> 

    </div>

  </div>






