<h2>Log in</h2>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <div class="card shadow p-3 bg-white rounded " style=" margin:15vh 20vh; margin-bottom:10px">
    <div class="card-body">

            <div class="field">
              <%= f.label :email, { class: "form-label"}%><br />
              <%= f.email_field :email, { class: "form-control", placeholder: "email", autofocus: true, autocomplete: "email" }  %>
            </div>

            <div class="field">
              <%= f.label :password, { class: "form-label"}%><br />
              <%= f.password_field :password, { class: "form-control", autocomplete: "current-password"}%>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>


            <div class="actions" style="margin-top:20px">
                <div style="display:flex;">
                    <div style="width:30%; justify-content:center; display:flex"> 
                          <%= f.submit "Log in",  class: "btn btn-outline-secondary newMerchandise signupPageButton" %>
                    </div>
                    <%# End form %>
                    <% end %> 

                    <div style="width:70%"> 
                          <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>

    </div>

  </div>






