<head><%= stylesheet_link_tag "style.css" %></head>

<nav class="navbar navbar-expand-md navbar-dark navbarStyles">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" >
    <ul class="navbar-nav mr-auto" style="width:87%; justify-content:right;">
      <li class="nav-item">
        <%= link_to root_path do %>
          <%= image_tag "kslogo.png", class: 'login-nav-img' %>
        <% end %>
      </li>

      <li class="nav-item">
      </li>

  </div>
</nav>

<h2 class = "signup">Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <div class="card shadow p-3 bg-white rounded " style=" margin:20px 43vh; margin-top:50px">
    <div class="card-body">

            <div class="field">
              <%= f.label :email, 'Email', { class: "form-label"}%><br />
              <%= f.email_field :email, { class: "form-control", placeholder: "student@tamu.edu", autofocus: true, autocomplete: "student@tamu.edu" }  %>
            </div>

            <div class="field">
              <%= f.label :password, { class: "form-label"}%><br />
              <%= f.password_field :password, { class: "form-control",placeholder: "123456", autocomplete: "123456"}%>
            </div>

              <div class="field" style="margin-top: 7px">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>


            <div class="actions" style="margin-top:20px">
                <div style="display:flex;">
                    <div style="width:10%; height:51px; justify-content:center; display:flex; margin-left: 7.5%; margin-right:2.1%; margin-top:7px;"> 
                          <%= f.submit "Log in",  class: "btn btn-outline-secondary newMerchandise signupPageButton" %>
                    </div>
                    <%# End form %>
                    <% end %> 

                    <div style="width:70%"> 
                          <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>

    </div>

  </div>