<p id="notice"><%= notice %></p>

<h1>Ks Hubs</h1>

<% if @user %>
  Logged in as: <%= @user.FirstName %>

  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>

<table>
  <tbody>
    <% @ks_hubs.each do |ks_hub| %>
      <tr>
        <td><%= ks_hub.title %></td>
        <td><%= link_to 'Show', ks_hub %></td>
        <td><%= link_to 'Edit', edit_ks_hub_path(ks_hub) %></td>
        <td><%= link_to 'Destroy', ks_hub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ks Hub', new_ks_hub_path %>